{{'scott'| uppercase}}

{{'SCOTT '| lowercase}}

{{'manonmani pandukumar naveenchandar' | titlecase}}
<br/>
{{'abcdefg'| slice : 2:4}}
<br/>
{{100| currency}}
<br/>
{{100|currency:"INR"}}
<br/>
{{obj |json}}
<br/>

{{date| date}}
<br/>
{{date| date:"minTime"}}
<br/>
{{date| date:"shortDate"}}
<br/>
{{date| date:"longDate"}}
<br/>
{{date| date:"mediumDate"}}
<br/>
{{date| date:"shortTime"}}
<br/>
{{date| date:"mediumTime"}}
<br/>
{{date| date:"hh"}}
<br/>
{{date| date:"mm"}}
<br/>
{{date| date:"ss"}}
<br/>
{{date| date:"dd"}}

<br/>
{{date| date:"MMM"}}
<br/>
{{date| date:"yyyy"}}